option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: app:app
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_download_resources.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo su - -c "aws s3 cp s3://bucket-api-2/texto.txt /var/app/current/" >> /var/log/download.logs 2>&1
