option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_download_resources.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      wget -O /var/app/current/resources/myfile.txt "https://drive.google.com/uc?export=download&id=11Fuw9lt8bAN4FZUp5n75EJRwDCchjnFG"